.lh-16 {
  line-height: 16px;
}
.lh-18 {
  line-height: 18px;
}
.lh-20 {
  line-height: 20px;
}
.lh-24 {
  line-height: 24px;
}
.lh-28 {
  line-height: 28px;
}
.lh-36 {
  line-height: 36px;
}
.lh-48 {
  line-height: 48px;
}
